{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  {% if user %}
  <div>
    <form action="/post" enctype="multipart/form-data" id="twit-form" method="post">
      <div class="input-group">
        <textarea id="twit" maxlength="140" name="content"></textarea>
      </div>
      <div class="img-preview">
        <img alt="미리보기" id="img-preview" src="" style="display: none;" width="250">
        <input id="img-url" name="url" type="hidden">
      </div>
      <div>
        <label for="img" id="img-label">사진 업로드</label>
        <input accept="image/*" id="img" type="file">
        <button class="btn" id="twit-btn" type="submit">짹짹</button>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="twits">
    <form action="/hashtag" id="hashtag-form">
      <input name="hashtag" placeholder="태그 검색" type="text">
      <button class="btn">검색</button>
    </form>
    {% for twit in twits %}
    <div class="twit" data-twit-id="{{twit.id}}" data-twit-user-id="{{twit.User.id}}">
      <div class="twit-author">{{twit.User.nick}}</div>
      {% if twit.User.id !== user.id %}
      {% if followingIdList.includes(twit.User.id) %}
      <button class="twit-unfollow" data-feature="unfollow">언팔로우하기</button>
      {% else %}
      <button class="twit-follow" data-feature="follow">팔로우하기</button>
      {% endif %}
      {% endif %}

      <div class="twit-content">{{twit.content}}</div>

      {% if twit.img %}
      <div class="twit-img"><img alt="섬네일" src="{{twit.img}}"></div>
      {% endif %}

      <span>{{twit.likeCount}}</span>
      {% if likedPosts.includes(twit.id) %}
      <button class="btn" data-feature="unlike">좋아요 취소</button>
      {% else %}
      <button class="btn" data-feature="like">좋아요</button>
      {% endif %}

      {% if twit.User.id === user.id %}
      <button class="btn" data-feature="delete">삭제</button>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
    if (document.getElementById('img')) {
        document.getElementById('img').addEventListener('change', function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append('img', this.files[0]);
            axios.post('/post/img', formData)
                .then((res) => {
                    document.getElementById('img-url').value = res.data.url;
                    document.getElementById('img-preview').src = res.data.url;
                    document.getElementById('img-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }

    document.addEventListener('click', async (event) => {
        const targetElement = event.target;
        const feature = targetElement.dataset.feature;
        if (!feature) return;

        const userId = document.getElementsByClassName('profile')[0].dataset.userId;

        if (feature === 'follow') {
            const followId = targetElement.parentElement.dataset.twitUserId;
            if (followId === userId) return;

            if (confirm('팔로우하시겠습니까?')) {
                axios.post(`/user/${userId}/followings/${followId}`)
                    .then(() => {
                        location.reload();
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }
        } else if (feature === 'unfollow') {
            const followId = targetElement.parentElement.dataset.twitUserId;
            if (followId === userId) return;

            if (confirm('언팔로우하시겠습니까?')) {
                axios.delete(`/user/${userId}/followings/${followId}`)
                    .then(() => {
                        location.reload();
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }
        } else if (feature === 'like' || feature === 'unlike') {
            const postId = targetElement.parentElement.dataset.twitId;
            const uri = `/user/${userId}/likes/${postId}`;
            let result;

            try {
                switch (feature) {
                    case 'like':
                        result = await axios.put(uri, { postId });
                        break;
                    case 'unlike':
                        result = await axios.delete(uri);
                        break;
                }
            } catch (err) {
                console.error(err);
            }

            if (result.status === 201) {
                targetElement.previousElementSibling.textContent = result.data.likeCount;
                targetElement.dataset.feature = 'unlike';
                targetElement.textContent = '좋아요 취소';
            } else if (result.status === 200) {
                targetElement.previousElementSibling.textContent = result.data.likeCount;
                targetElement.dataset.feature = 'like';
                targetElement.textContent = '좋아요';
            }
        } else if (feature === 'delete') {
            if (confirm('삭제하시겠습니까?')) {
                const postId = targetElement.parentElement.dataset.twitId;
                const uri = `/post/${postId}`;
                const result = await axios.delete(uri);

                if (result.status === 200) {
                    alert('삭제되었습니다.');
                    location.reload();
                }
            }
        }
    });
</script>
{% endblock %}